h1{
    font-family: 'Permanent Marker', cursive;
    text-shadow: 2px 2px 3px #666666;
    color: rgba(255, 0, 0, 0.932);
    font-size: 3rem;
}
h2{
    text-transform: uppercase;
    color: rgb(49, 117, 117);
    font-size: 2rem;
}
.intro{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
@font-face {
    font-family: 'lobster';
    src: url(Lobster-Regular.ttf);
}
h3{
    font-family: 'lobster';
    font-size: 1.5rem;
}
.intro{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.intro a{
    color: aqua;
    text-decoration: none;
}
p{
    font-size: 1.5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}